/*Main page css-----------------------------------------------------------------------------*/
.main-page {
    display: none;
    flex-direction: column;
    font-family:'Serif';
    height: 100%;

}


/*Header div - css*/
.header-main{
    text-align: center;
    font-size: 50px;
    font-family: "Broadway";
    text-shadow: 0 10px 15px rgb(0, 0, 5);
    color: rgb(255, 217, 0);

}

#dropdown-language-main {
    text-align: right;
    margin: 0 2% 2% 0;
}

/*Game options div - css*/
.game-options {
    text-align: center;
    /*margin: 50px 50px 50px 50px;*/
    margin: 3% 3% 3% 3%;
}

.game-button {
    padding: 3px 8px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 5);
}

.game-button:hover {
    background-color: rgb(255, 217, 0);
}

/*Game center div - css*/
.game-center {
    display: flex;
    flex-direction: row;
}

#rules-container {
    width: 20%;
}

#game {  /*The container with the actual game*/
    width: 60%;
    text-align: center;
    /*border-style: solid;
    border-color: rgb(0, 0, 0);*/
    /*margin: 0 10px 0 10px;*/
    margin: 0 0.5% 0 0.5%;
}

#start-box { /*The container where the user puts their name and chooses difficulty*/
    margin: 5% 5% 5% 5%;
    padding: 5% 5% 5% 5%;
    font-size: 150%;
    color:rgb(255, 255, 253);

}

#leaderboard-container {
    width: 20%
}

#rules {
    text-align: center;
    border-style: solid;
    border-color: rgb(255, 217, 0);
    background-color: white;
}

#rulesList{
    text-align: left;
}

#leaderboard {
    text-align: center;
    border-style: solid;
    border-color: rgb(255, 217, 0);
    background-color: white;
}

#game-display {
    
    border-style: solid;
    border-color: rgb(255, 255, 255);
    background-color: rgb(80, 78, 78);
}

#aswer-buttons-display {
    margin: 5% 5% 5% 5%;
}

#submit-container {
    margin: 2% 0 0 0;
    /*display: none;*/
}

#submit-button {
    padding: 3px 8px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 5);
}
#submit-button:hover {
    background-color: rgb(255, 217, 0);
}

/*Bottom page div - css*/
.bottom-page {
    /*margin: 50px 50px 50px 50px;*/
    margin: 0;
    width: 100%;
    min-height: 15vh;      
    background-color: black;
}



/*Dropdown buttons*/
.dropdown  {
  position: relative;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 5%;
}

/* Links inside dropdown content */
.dropdown-content button {
  color: black;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 5px 1px;
  text-decoration: none;
  display: block;
  /*font-size: 50%;*/
  font-size: 15px;
}

#dropdown-content-front button {
  color: black;
  /*background-color: rgb(255, 255, 255);*/
  width: 100%;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
  font-size: 80%;
}


/* Change color of dropdown links on hover */
/*.dropdown-content a:hover {
  background-color: #f1f1f1
}*/

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change background color of dropdown button on hover */
.dropdown:hover .dropbtn {
  background-color: #915151;
}

.dropbtn {
    padding: 3px 8px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgb(0, 0, 5);
}

#answer-buttons-display{ /*Answer buttons (outside) */
    display: grid;
    grid-template-columns: repeat(3,1fr); /* 3 colums*/
    justify-items: center;
    gap: 8px; 
    padding-inline: 4%; /*Horisontial*/
    padding-block: 2%;  /*Vertical*/
}

.movie-name-buttons{ /*Answer buttons (inside)*/
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    font-size: 100%;
    text-align: center;
    padding: 3px 8px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgb(0, 0, 5);
    background-color: white;
    color: black;
    border: 3px solid rgba(255, 255, 255, 0.082);
  
}

.movie-name-buttons.selected{
    background-color: gold;
    border: 3px solid gold;
}
.movie-name-buttons:hover{ 
    border: 3px solid  rgba(255, 217, 0, 0.925);;
}


.dropdown-buttons:hover {
    background-color: rgb(255, 217, 0);
}



#textDisplay{
    display: none;
}

#gameTextDisplay{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 13ch;
    text-align: center;
    text-decoration: underline;

}

#nQContainer {
    display: none;
    justify-content: center;
    
}

#nQ {
    padding: 10px 15px;
    font-size: 18px;
}
