/* Front Page -------------------------------------------------------------------------------------------*/

@font-face { /*For the Broadway font*/
    font-family: "Broadway";
    src: url('../client/Resources/Broadway3D-Italic.ttf') format('truetype');
    
}

body {
    background-image: url("../client/Resources/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg");
    background-size: cover;
    background-position: center;
}

#intro-text1 { /*Text:Welcome To*/
    font-family: "Broadway";
    text-align: center;
    font-size:1700%;
    margin-top: 100px;
    margin-bottom: 5px;
    text-shadow: 0 10px 15px rgb(0, 0, 5);
    color: rgba(255, 245, 245, 0.833)
    
} 

#intro-text2 { /*Text: Guess The Game*/
    font-family: "Broadway";
    text-align: center;
    font-size:1000%;
    margin-top: 5px;
    color: rgba(235, 235, 235, 0.733);
    text-shadow: 0 10px 15px rgb(0, 0, 5);
}

#play-button-container { /*Press to play button (around)*/
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

#play-button { /*The press to play button*/
    font-family: sans-serif;
    font-size: 250%;
    padding: 30px 80px;
    border-radius: 40px;
    box-shadow: 0 10px 15px rgb(0, 0, 5);
    background-color: rgba(241, 241, 241, 0.89);
    color: black;
    transition: all 0.3s ease; 
}

#play-button:hover { /* Press to play button hover*/
    background-color: rgba(94, 2, 2, 0.863);
    color: rgba(245, 245, 245, 0.815);
    transform:translateY(2%)
    
}


/*Dropdown buttons, language on frontpage and difficulty on mainpage*/
/*Some css is unique for language dropdown button, that code includes "language" or "front".
A lot of the code also takes care of the difficulty dropdown button on the main page,
together with additional code on the stylesMain.css file*/
#language-container { /*Button to choose language (around) */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;
}

#language-button { /*The default look of the language button, when no one is hovering over it*/
    font-family: sans-serif;
    font-size: 150%;
    padding: 3px 8px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgb(0, 0, 5);
    color: black;
    background-color: rgba(255, 255, 255, 0.842);
}

#language-button:hover{ /*language button hover*/
    background-color: rgba(109, 3, 3, 0.774);
    color: rgba(253, 253, 253, 0.815);
}

.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown content */
.dropdown-content {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  min-width: 5%;
}

#dropdown-content-front button { /*Unique styling for the dropdown buttons on the frontpage*/
  width: 100%;
  padding: 3px 8px;
  text-decoration: none;
  display: block;
  border-radius: 15px;
  font-size: 150%;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/*------------------------------------------------*/