/* Front Page -------------------------------------------------------------------------------------------*/

@font-face { /*For the Broadway font*/
    font-family: "Broadway";
    src: url('../client/Resources/Broadway3D-Italic.ttf') format('truetype');
    
}

body{
    background-color: rgb(124, 0, 31);
}



#intro-text1{ /*Text:Welcome To*/
    font-family: "Broadway";
    text-align: center;
    font-size:1700%;
    margin-top: 100px;
    margin-bottom: 5px;
    text-shadow: 0 10px 15px rgb(0, 0, 5);
    color: rgb(255, 217, 0);
    
} 

#intro-text2{ /*Text: Guess The Game*/
    font-family: "Broadway";
    text-align: center;
    font-size:1000%;
    margin-top: 5px;
    color: rgb(255, 217, 0);
    text-shadow: 0 10px 15px rgb(0, 0, 5);
}

#press-to-play-button{ /*press to play button (around)*/
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

#play-button{ /*The press to play button*/
    font-family: sans-serif;
    font-size: 250%;
    padding: 30px 80px;
    border-radius: 40px;
    box-shadow: 0 10px 15px rgb(0, 0, 5);
    background-color: white;
    color: black;
}

#play-button:hover{ /* Press to play button hover*/
background-color: gold;
}

#language-container{ /*Choose language (around) */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


#language-button{
    font-family: sans-serif;
    font-size: 150%;
    padding: 3px 8px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgb(0, 0, 5);
    color: black;
}

#language-button:hover{ /*language button hover*/
    background-color: #915151;
}
